.detailed-card-container {
	border: 1px solid var(--color-neutral-2);
	border-radius: var(--border-radius-lg, 0.625rem);
	padding: 2.125rem var(--spacer-4);
}

.detailed-card-compact {
	font-size: var(--h6-font-size, 14px);

	& .detailed-card-container {
		box-sizing: border-box;
		max-width: 100%;
		width: 472px;
	}

	& .detailed-card-header h2 {
		font-size: 18px;
		margin-bottom: 0;
	}
}

.detailed-card-fit {
	width: fit-content;
}

.detailed-card-container-larger {
	width: 700px !important;
}

.detailed-card-header-clay-icon {
	height: 20px;
	width: 20px;
}

.detailed-card-header-icon-container {
	background: var(--color-neutral-2);
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
